<!-- index.html -->
<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />-->

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="lib/js/angular.js"></script>
    <script src="lib/js/angular-route.js"></script>

    <script src="script.js"></script>
    <script src="pages/company/company.service.js"></script>
    <script src="pages/company/company.controller.js"></script>

</head>
<body ng-controller="mainController">

<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">不科学，什么都出不来</a>
            </div>

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li ng-repeat="menu in menus" ng-click="changeMenu($index)"><a href={{menu.href}}><i-->
                        <!--class="fa fa-home"></i> {{menu.text}}</a></li>-->

            </ul>
        </div>
    </nav>
</header>

<nav class="navbar well">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12">
            <ul class="nav nav-pills navbar-collapse">
                <li ng-repeat="menu in menus" ng-class="{'active':menuSelected.text == menu.text}">
                    <a href={{menu.href}} ng-click="changeMenu($index)">{{menu.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    </nav>


    <div class="row-fluid">
        <div class="col-xs-1 ">
            <div class="panel panel-primary">
                <div class="panel-heading">菜单</div>
            <ul class="nav nav-list ">
                <li class="nav-header">

                </li>
                <li ng-repeat="menu in menuSelected.sub">
                    <a href={{menu.href}}>{{menu.text}}</a>
                </li>
            </ul>
        </div>
            </div>

        <div class="col-xs-11">
            <div ng-view></div>
        </div>

    </div>
</div>

<!-- FOOTER -->
<div class = "container">
<footer class="text-center col-xs-12">
    View the tutorial on <a href="http://scotch.io/tutorials/angular-routing-and-templating-tutorial">Scotch.io</a>
</footer>
</div>
</body>
</html>